.item wired-card {
    display: flex;
    flex-direction: row;
}

wired-card wired-button {
    flex: 1;
    position: relative;
    right: 0px;
    border-color: red;
}

.item .item-header {
    display: flex;
    flex-direction: row;
}

.item .space {
    flex: 2;
}