.playdate-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playdate-main wired-card {
  width: 700px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.playdate-main wired-card wired-icon-button {
  margin: 10px;
}
