.main-activities .row {
  display: flex;
  flex-direction: row;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.main-activities .activity-card {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  height: 150px;
  color: #fff;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.activity-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(rgba(255, 215, 97, 0.48));
}

.purple {
  background-color: #2a265f;
}

.red {
  background-color: #cf3c38;
}

.blue {
  background-color: #5393a7;
}

.green {
  background-color: #53a756;
}

.faded {
  color: #d2d2d2;
}
