.main {
  display: flex;
  flex-direction: row;
}
.tools {
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  margin: 10px;
}

.materials {
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  margin: 10px;
}

.toolbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex: 1;
  margin: 10px;
}
