.ParentsInner {
  display: flex;
  flex-direction: column;
}

.ParentsInner .row {
  display: flex;
  display: row;
}

.ParentsHeaderMessage {
  padding: 0 6rem;
  font-family: Rubrik-Regular;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 auto;
}

.value-buttons {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  font-weight: 600;
  font-size: 2.4rem;
}

.ValueButton-Resourcefulness {
  background-color: rgb(41, 55, 181);
  padding: 1rem;
  color: #fff;
  border-radius: 30px;
  border: 3px solid black;
  flex: 1;
  margin: 0 0.8rem;
}

.ValueButton-Responsibility {
  background-color: rgb(52, 182, 47);
  padding: 1rem 2.5rem;
  color: #fff;
  border-radius: 30px;
  border: 3px solid black;
  flex: 1;
  margin: 0 0.8rem;
}

.ValueButton-Independance {
  background-color: rgb(249, 33, 33);
  padding: 1rem 2.5rem;
  color: #fff;
  border-radius: 30px;
  border: 3px solid black;
  flex: 1;
  margin: 0 0.8rem;
}

.HowitWorks {
  width: 40%;
  position: relative;
  margin: 4rem 6rem;
  display: inline-block;
}

.HowitWorksTitle {
  border-bottom: 2px solid black;
  padding-bottom: 0.6rem;
  padding-left: 2rem;
  font-size: 2.2rem;
}

.HowitWorksMsg {
  margin: 1rem 0;
  font-size: 1.4rem;
}

.EcotipsBox {
  margin: 6rem 6rem 4rem 4rem;
  display: inline-block;
  float: right;
  min-height: 6rem;
  max-width: 30%;
  border: black solid 2px;
  background-color: green;
  color: #fff;
  padding: 1.4rem;
  padding-top: 2rem;
  border-radius: 25px;
}

.EcotipsMsg {
  background-color: #fff;
  color: #000;
  padding: 2.6rem;
  border-radius: 25px;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
}
.Ecotips {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}
